:root {
  --canvas_x: 400;
  --canvas_y: 400;
  
  font-family: Garamond, serif;
  
  
}

html, body {
  
  font-family: Garamond, serif;
  margin: 0;
  padding: 0;
  height:100%;
  background-color: rgb(90, 145, 22);
}
 body{
  margin: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */

  /* align-items: center;
  justify-content: center; */
 }
 #main{
  display:flex;
  justify-content: space-evenly;
  /*flex-grow: 1;*/
  /* flex-direction:column; */
 }
 #title{
  text-align:center;
  color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: rgb(48, 173, 31);
  /*width:100%;*/
  
  font-size: x-large;
  font-weight: 500;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:10px;
  border-style: solid;
  border: white;
  border-width:2px;

 }

 #container{
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: space-evenly; 
  padding-bottom:10%;
 }



 #button_container{
  
  margin-top: 50px;
  /* background-color: red; */
  display:flex;
  flex-direction: row;
  
   
 }

 .slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#label {
  margin-bottom:2%;
}
#choice{
  margin-bottom:2%;
}

#algo_type{
background:#c2fbd7;
color:black;
width:100%;
display: flex;
align-items: center;
justify-content: center;
padding-left:40px;

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  margin-bottom: 15%;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

 #real-text{
  /* width:100%;*/
  display: flex;
  flex-direction:column;
  padding:0px;
  /*ustify-content: space-around;*/
  /* align-items: space-between; */
  
 }

  
 #Instruction{
  /* width:100%; */
  /* margin-left:20px; */
  
  
  height:50%;
  max-width:250px;
  text-align: center;
  font-size: x-large;
  display: flex;  
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  /* padding-top:10%;
  padding-bottom:10%; */
}

#legends{
  /* width: 100%; */
  display:flex;
  max-width: 250px;
  height:50%;
  flex-grow:0;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-bottom: 30%;
 } 


li{
  width:100%;  
  list-style-type:none;
  display: flex;
  flex-direction: row;
/*  align-items: space-evenly;*/
  justify-content: flex-start;
  padding-top:5px;
  padding-bottom:5px;
  
}

.dot {
  max-width:15px;
  height: 12px;
  width: 12px;  
  /*background-color: black;*/
  border-radius: 50%;
  border-style:solid;
  border-color:white;
  border-width: 2px;
  margin-right:5px;
}

.colors{
  color: white;
  max-width:120px;
}

#P{
  background-color: pink;
}
#Q{
  background-color: brown;

}
#R{
  background-color: aqua;
  
}
#S{
  background-color: yellow;
}
#T{
  background-color: red;
}
#U{
  background-color: blue;
}

 .start-text{
  display: flex;
  justify-content: center;
  
  /* padding-left: 300px; */
  
}
.end-text{
  display: flex;
  justify-content: center;
  /* padding-left: 300px; */
  background-color: rgb(89, 217, 72);
}
.wall-text{
  display: flex;
  justify-content: center;
  /* padding-left: 300px;   */
}
.new{
  display: flex;
  justify-content: center;
  /* padding-left: 300px;  */
  background-color: rgb(89, 217, 72);
}
.old{
  display: flex;
  justify-content: center;
  /* padding-left: 300px; */
  
}
.path{
  display: flex;
  justify-content: center;
  /* padding-left: 300px; */
  background-color: rgb(89, 217, 72);
} 


canvas {
  margin:0;
  padding:0;
  display: block;
 
 
}

.button-33 {
  background-color: #c2fbd7;
  margin:2px;
  border-radius: 20px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media screen and (max-width: 480px){

  :root {
    --canvas_x: 250;
    --canvas_y: 250;
  }
  body,html{
    margin:0;
    padding:0;
    box-sizing:border-box;
    max-width:420px;
  }
  

  #main{
    display:flex;
    flex-direction:column;
    max-width:420px;

    /* justify-content: space-evenly;
    flex-grow: 1; */
    /* flex-direction:column; */
   }
   #title{
    max-width:420px;
    border-style:solid;
    border-width:5px;
    border-color:white;
   }

   #real-text{
    max-width:420px;
    display: flex;
    flex-direction:column-reverse;   
    justify-content:center;
    align-items:center;
    border-style: solid;
    border-width:5px;
    border-color:white;
    /*width:100%;*/
    padding:0;


    /* max-height:250px; */
    
   }
      
   #Instruction{        
    width:100%;
    max-width:450px;
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: column;  
    /* flex-grow: 1; */
    justify-content: center;
    align-items: center;
    padding-top:10%;
    padding-bottom:10%;
    color:white;
    background-color: rgb(48, 173, 31);
    

  }
  
  #legends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%; 
    max-width: 420px;      
    max-height:200px;
    margin-bottom:10px;
    margin-top:10px;
    /* border-style:solid;
    border-width:2px;
    border-color: white;
     */
    /* width: 100%;  
    display:flex;    
    flex-direction: column;
    justify-content: flex-end;
     
    width:100%; */
    /* margin-bottom:-5%;
    margin-top:5%;            */
    /* align-items: center; */
    
   } 
  
  
  li{
    /* width:100%;   */
    list-style-type:none;
    display: flex;
    
    /* align-items: center;*/
    justify-content: flex-start;
    padding-top:2px;
    padding-bottom:2px;
    
  }

  .x{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:35%;
  }

  canvas {
    margin:0;
    padding:0;
    display: block;
    max-width:250px;
    max-height:250px;
  }
#container{
  border-style:solid;
  border-width:5px;
  border-color: white;
}
  #button_container{
  
    margin-top: 50px;
    margin-bottom: 50px;
   /* background-color:red;*/
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
  }

.slidecontainer{
  margin-top:10px;
}
#myRange{
  background-color: #d3d3d3;
}
#label{
  font-size: large;
  color:white;
  padding:20px;
  margin:10px;
}
#choice
{
  font-size: large;
  color:white;
  padding:20px;
  margin:10px;
}

}/*@media screen ends

/*
<!-- HTML !-->
<button class="button-33" role="button">Button 33</button>

/* CSS */
/*
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
*/
